.filter--container {
  position: absolute;
  top: 60px;
  left: 5%;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 80%;
  padding: 40px 20px;
  height: auto;
  min-width: 288px;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.16);
}

.filter-elements--list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.filter-elements--list li {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
}

.filter-elements--list p {
  padding: 5px;
  padding-top: 8px;
  vertical-align: middle;
  border-radius: 5px 0px 0px 5px;
  color: var(--Desaturated-Dark-Cyan);
  background-color: var(--Light-Grayish-Cyan);
}

.filter-elements--list button {
  width: 31px;
  height: 31px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--Desaturated-Dark-Cyan);
  background-image: url('../../images/icon-remove.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-elements--list button:hover {
  background-color: var(--Very-Dark-Grayish-Cyan);
}

.filter--button {
  height: 40px;
  border: none;
  align-self: center;
  font-size: 2rem;
  color: var(--Dark-Grayish-Cyan);
  line-height: 2.4rem;
  background-color: transparent;
  cursor: pointer;
}

.filter--button:hover {
  text-decoration: underline;
}

@media screen and (min-width: 375px) {
  .filter--container {
    left: 10%;
  }
}

@media screen and (min-width: 2560px) {
  .filter--container {
    left: calc(50% - 650px);
  }
}
