.jobOffer--container {
  position: relative;
  width: 80%;
  padding: 40px 20px;
  height: auto;
  min-width: 288px;
  max-width: 1000px;
  min-height: 288px;
  margin: 0 auto;
  border-radius: 15px;
  border-left: 5px solid var(--Desaturated-Dark-Cyan);
  background-color: white;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.16);
}

.jobOffer--container img {
  position: absolute;
  top: -30px;
  left: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.top-section--content {
  display: flex;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: bold;
}

.top-section--content p {
  padding: 5px;
  padding-top: 8px;
  color: var(--Desaturated-Dark-Cyan);
}

.top-section--content .new {
  padding: 5px;
  padding-top: 8px;
  border-radius: 15px;
  margin-left: 10px;
  text-transform: uppercase;
  color: var(--Light-Grayish-Cyan);
  background-color: var(--Desaturated-Dark-Cyan);
}

.top-section--content .featured {
  padding: 5px;
  padding-top: 8px;
  margin-left: 10px;
  border-radius: 15px;
  text-transform: uppercase;
  color: var(--Light-Grayish-Cyan);
  background-color: var(--Very-Dark-Grayish-Cyan);
}

.offer--container {
  padding-bottom: 18px;
  border-bottom: 1px solid var(--Dark-Grayish-Cyan);
}
.offer--container h2 {
  margin: 20px 0;
  font-size: 2rem;
  line-height: 2.4rem;
}

.offer--container p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--Dark-Grayish-Cyan);
}

.lenaguages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
  list-style: none;
}

.lenaguages li {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  color: var(--Desaturated-Dark-Cyan);
  background-color: var(--Light-Grayish-Cyan);
}
