:root {
  --Light-Grayish-Cyan: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Spartan', sans-serif;
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Light-Grayish-Cyan);
}

header {
  margin-bottom: 60px;
  width: 100%;
  height: 125px;
  background-color: var(--Very-Dark-Grayish-Cyan);
  background-image: url('../images/bg-header-mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
